<html>
<head>
  <script type='text/javascript' src="discount_main.js"></script>
</head>
<body>
<h1><span style="font-family:lucida sans unicode,lucida grande,sans-serif;">Скидка</span></h1>
<div id="sum"></div>
<p><span style="font-family:lucida sans unicode,lucida grande,sans-serif;">Размер скидки&nbsp;</span></p>
<p><span style="font-family:lucida sans unicode,lucida grande,sans-serif;">
  <input id="discount" name="discount" type="text" value="10"/></span></p>
<p><span style="font-family:lucida sans unicode,lucida grande,sans-serif;">
  <input id="btnOK" name="btnOK" type="button" value="Применить" onclick="setDiscount()"/>
  <input name="btnCancel" type="button" value="Отмена" onclick="navigation.pushNext()"/></span></p>
</body>
</html>