<html>
<head>
  <script type='text/javascript' src="edit_main.js"></script>
</head>
<body onload="getData();">
<h1><span style="font-family:lucida sans unicode,lucida grande,sans-serif;">Список товаров чека</span></h1>
<div id="data"></div>
<div id="edit">
  <table border="0" cellpadding="1" cellspacing="1">
    <tbody>
    <tr>
      <td>UUID</td>
      <td><input id="uuid" name="uuid" type="text" /></td>
    </tr>
    <tr>
      <td>Цена</td>
      <td><input id="price" name="price" type="text" /></td>
    </tr>
    <tr>
      <td>Наименование</td>
      <td><input id="name" name="name" type="text" /></td>
    </tr>
    <tr>
      <td>Количество</td>
      <td><input id="qty" name="qty" type="text" /></td>
    </tr>
    </tbody>
  </table>
  <p><input name="btnAdd" type="button" value="Добавить" onclick="addData()"/></p>
  <p><input name="btnEdit" type="button" value="Сохранить" onclick="editData()"/></p>
</div>
</body>
</html>