<html>
<head>
  <script type='text/javascript' src="suggest_main.js"></script>
</head>
<body>
<h1><span style="font-family:lucida sans unicode,lucida grande,sans-serif;">Добавить кетчуп к сосискам?</span></h1>
<div id="sum"></div>
<p><span style="font-family:lucida sans unicode,lucida grande,sans-serif;">Количество упаковок&nbsp;</span></p>
<p><span style="font-family:lucida sans unicode,lucida grande,sans-serif;">
  <input id="qty" name="qty" type="text" value="1"/></span></p>
<p><span style="font-family:lucida sans unicode,lucida grande,sans-serif;">
  <input id="btnOK" name="btnOK" type="button" value="Добавить" onclick="add()"/>
  <input name="btnCancel" type="button" value="Отмена" onclick="navigation.pushNext()"/></span></p>
</body>
</html>